
.obras-container{
	margin-bottom: 60px;
}
.obra-box{
	display: inline-block;
	margin: 15px;
	width: 160px;
	height: 200px;
}
.img-container{
	width: 160px;
	height: 120px;
	display: block;
	text-align: center;
	vertical-align: baseline;
	overflow: hidden;
}
.img-container img{
	width: 100%;
	height: auto;
}
.obra-desc{
	display: block;
	max-width: 155px;
	margin-top: 10px;
}
.obra-tit{
	font-size: 0.8em;
	font-weight: 600;
}
.obra-subtit{
	font-size: 0.9em;
}
