
.obras-container{
	margin-bottom: 60px;
	display: block;
}
.obra-box{
	display: inline-block;
	margin: 15px 5px;
	width: 180px;
	height: auto;
}
.obra-box a{
	display: block;
	color: #000;
}
.obra-box a:hover{
	text-decoration: none;
	color: #337ab7;
}
.img-container{
	width: 180px;
	height: 160px;
	display: block;
	text-align: center;
	vertical-align: baseline;
	overflow: hidden;
}

.img-container img{
	width: 100%;
	height: auto;
}
.obra-desc{
	width: 190px;
}
.obra-tit{
	font-size: 0.8em;
	font-weight: 600;
}
.obra-subtit{
	font-size: 0.9em;
}
